<style>
	input.ng-dirty.ng-invalid{
		background-color: pink;
	}

	input.ng-pristine.ng-invalid{
		border-color: pink;
		border-width: 1px;
	}

	input.ng-dirty.ng-valid{
		border-color: green;
		border-width: 2px;
	}

</style>
<div>
	<div class="col-md-5 col-md-offset-2">
		<form name="hotelForm">
			<div class="form-group">
				<label >Name</label>
				<input name="vName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" type="text" required minlength="4" class="form-control" ng-model="newHotel.name" placeholder="Enter name">
				<div class="text-danger" ng-show="hotelForm.vName.$invalid && hotelForm.vName.$dirty">"{{hotelForm.vName.$viewValue}}" is invalid</div>

			</div>
			<div class="form-group">
				<label >Price</label>
				<input  type="number" required min="1000" max="50000" ng-model="newHotel.price" class="form-control" placeholder="Price"></div>

			<div class="form-group">
				<label >Phone Number</label>
				<input  type="text" ng-pattern="/^[789]\d{9}$/" ng-model="newHotel.location" class="form-control" placeholder="Phone number"></div><div class="form-group">
			</div>
			<div class="form-group">
				<label >Password</label>
				<input  type="text" ng-model="password" class="form-control" placeholder="Phone number"></div><div class="form-group">
			</div><div class="form-group">
				<label >Confirm Password</label>
				<input  type="text" ng-model="confirmPassword" class="form-control" placeholder="Phone number"></div><div class="form-group">
			</div>
			<div class="form-group">
				<label >Description</label>
				<textarea rows="7" ng-model="newHotel.description" class="form-control" placeholder="Description"></textarea>
			</div>
			<button ng-disabled="hotelForm.$invalid" class="btn btn-primary" ng-click="addHotel(newHotel)">Add</button>
		</form>
	</div>
	<div class="col-md-5">{{newHotel}}</div>
</div>